@import "tailwindcss";

:root {
  --background: #090a0b;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-tight: var(--font-inter-tight);
  --font-switzer: var(--font-switzer-family);
  --font-rethink: var(--font-rethink-sans);

  /* Small Android */
  --breakpoint-android-sm: 360px;
  /* iPhone 15 */
  --breakpoint-iphone: 390px;
  /* iPhone Pro Max */
  --breakpoint-iphone-max: 430px;
  /* iPad Portrait */
  --breakpoint-ipad: 768px;
  /* iPad Air */
  --breakpoint-ipad-air: 834px;
  /* iPad Landscape */
  --breakpoint-ipad-landscape: 1024px;
  /* Small Desktop */
  --breakpoint-desktop-sm: 1280px;
  /* Most laptops */
  --breakpoint-laptop: 1440px;
  --breakpoint-wide: 1536px;
  --breakpoint-wide-lg: 1600px;
  --breakpoint-full-hd: 1920px;
  --breakpoint-ultrawide: 2560px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
